.hello {
    font-size: 50px;
    font-family: Arial;
    text-align: center;
}


body {
    background-color: #222;
}


.wrapper{
    min-height: 100%;
    color: #ddd;
}


.navbar-my{
    border-bottom: 1px solid #aaa;
    background-color: #222
}


.content {
    margin: 7% 25% 0 25%;
}


.contacts__item {
    border: #333 solid 1px;
    background-color: #252525;
}


.contacts__list {
    border: #444 solid 1px;
}


.contacts__img {
    background-color: white;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 31px;
}


.contacts__name {
    margin-left: 15px;
    color: #ddd;
}

.btn_switch {
    display: inline-block;
    background: #8C959D;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

.log_reg_par {
    padding: 3px;
}

.btn_submit {
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.error {
    font-size: 8px;
    padding-left: 50px;
}

.form-horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn-logout {
    float: right;
}

.contacts-stl {
    display: flex;
}

.btn-log-reg1 {
    background: #38b34c;
    margin-top: 5px;
}

.conversation__list {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
}

.conversation {
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.scrollspy-example {
    width: 100%;
}

.string-mess {
    word-wrap: break-word;
}