{% extends "base.html" %}

{% block content %}
<div class="contacts">
    <div class='status'>
        {{ current_user.username }}
        <a href="/logout" class="btn btn-primary btn-logout">Выйти</a>
    </div>
    <div class="list-group contacts__list">
        {% for item in users %}
        <a class="list-group-item btn-outline-primary contacts__item" href="contacts/{{ item }}#scrollspyHeading1">
            <img class="contacts__img" src="../static/img/user.jpg" alt="">
            <span class="contacts__name">{{ item }}</span>
        </a>
        {% endfor %}
    </div>
    <a href='#add' class='btn btn-primary btn-add'>Добавить контакт</a>
    <div  id='add'>
        <form method='POST'>
            <div class='add-contact-pad'>
                <p class='add-cont-tag'>Добавить контакт</p>
                <p class='add-cont-tag'>Контакт</p>
                <input type="text" name="add_contact" class="form-control add-string" autocomplete='off'>
                <p class='add-cont-tag'>Сообщение</p>
                <input type="text" name="cont_message" class="form-control add-string" autocomplete='off'>
            </div>
            <input type="submit" value="Отправить" class='btn btn-primary btn-add'>
            <a href='' class='btn btn-primary btn-add'>Закрыть</a>
        </form>
    </div>
</div>
{% endblock %}