{% extends "base.html" %}

{% block content %}
<div class="contacts">
    <div>
        {{ current_user.username }}
        <a href="/logout">выйти</a>
    </div>
    <div class="list-group contacts__list">
        {% for item in users %}
        <a class="list-group-item btn-outline-primary contacts__item" href="contacts/{{ item }}">
            <img class="contacts__img" src="../static/img/user.jpg" alt="">
            <span class="contacts__name">{{ item }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}